<%= provide(:flash, 'no') %>

<div class="home-wrap">
  <%= link_to root_path do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <% flash.each do |type, msg| %>
    <div class="pure-alert pure-alert-<%= type %>"><%= msg %></div>
  <% end %>
  <div class="home-boards">
    <h4>Boards</h4>
    <ul>
      <% @boards.each do |board| %>
        <li><%= link_to board.title, board, class: "red-link" %></li>
      <% end %>
    </ul>
  </div>
  <% if logged_in? %>
    <%= link_to "control panel", control_panel_path %>
    <%= link_to "out!", mod_logout_path, method: :delete %>
  <% end %>
</div>
