<%# TODO: boards list %>

<div class="board-container">
  <div class="board-title">
    <center>
      <h2>/<%= @board.name %>/ - <%= @board.title %></h2>
    </center>
  </div>

  <div class="threads">
    <hr>
    <% @posts.threads.reverse.each do |thread| %>
      <%= render "thread", thread: thread %>
      <hr>
    <% end %>
  </div>
</div>

<%= form_for [@board, Post.new], html: { class: "pure-form-stacked" } do |f| %>
  <%= f.text_field :title %>
  <%= f.hidden_field :reply, value: "1" %>
  <%= f.text_area :text, class: "pure-input-1-2" %>
  <%= f.file_field :pictures, multiple: true %>
  <%= f.submit "create thread" %>
<% end %>

<% content_for :javascript do %>
  <script>
    document.querySelectorAll('.post-pic-thumb').forEach((el) => {
      el.addEventListener('click', () => {
        el.classList.toggle('post-pic-thumb-full')
        var top = $(el).parent().position().top;
        $(window).scrollTop( top );
      })
    })
  </script>
<% end %>
