<%# TODO: boards list %>

<div class="board-container">
  <div class="board-title">
    <center>
      <h2>/<%= @board.name %>/ - <%= @board.title %></h2>
    </center>
  </div>

  <div class="threads">
    <hr>
    <% @posts.threads.reverse.each do |thread| %>
      <%= render "thread", thread: thread %>
      <hr>
    <% end %>

    <%= form_for [@board, Post.new], html: { class: "pure-form pure-form-stacked" } do |f| %>
      <%= f.text_field :title, placeholder: 'thread title' %>
      <%= f.hidden_field :reply, value: "1" %>
      <%= f.text_area :text, class: "pure-input-1-2", placeholder: 'text' %>
      <%= f.file_field :picture %>
      <%= f.submit "create thread" %>
    <% end %>
  </div>
</div>


<% content_for :javascript do %>
  <script>
    document.querySelectorAll('.post-pic-thumb').forEach((el) => {
      el.addEventListener('click', () => {
        el.classList.toggle('post-pic-thumb-full')
        var top = $(el).parent().position().top;
        $(window).scrollTop( top );
      })
    })
  </script>
<% end %>
