<div class="reply">
  <p class="reply-header">
    <span class="thread-time">
      Anonymous <%= reply.created_at.strftime("%m/%d/%Y(%a)%H:%M:%S") %> №<%= reply.id %>
    </span>
  </p>
  <% if reply.pictures.size > 0 %>
    <div class="post-pics">
      <% reply.pictures.each do |pic| %>
        <div class="post-pic">
          <p>
            <%= link_to pic.url do %>
              <%= truncate File.basename(pic.url, ".*"), length: 20,
              omission: "[...]" %><%= File.extname(pic.url) %>
            <% end %>
          </p>
          <p class="file-size"><%= number_to_human_size(pic.size) %></p>
          <%= image_tag pic.url, class: "post-pic-thumb" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <p class="reply-text"><%= reply.text %></p>
</div>
