<div class="reply r<%= reply.id %>">
  <p class="reply-header">
    <span class="thread-time">
      Anonymous <%= reply.created_at.strftime("%m/%d/%Y(%a)%H:%M:%S") %> №<%= reply.id %>
      <% if current_user %>
        <%= reply.ip %>
        <%= link_to "delete", board_post_path(reply.board, reply), method: :delete %>
      <% end %>
    </span>
  </p>
  <% if !reply.picture.file.nil? %>
  <div class="post-pics">
    <div class="post-pic">
      <p>
        <%= link_to reply.picture.url do %>
          <%= truncate File.basename(reply.picture.url, ".*"), length: 20,
          omission: "[...]" %><%= File.extname(reply.picture.filename) %>
        <% end %>
      </p>
      <p class="file-size"><%= number_to_human_size(FastImage.new(reply.picture.url).content_length) %></p>
      <%= image_tag reply.picture.url, class: "post-pic-thumb" %>
    </div>
  </div>
    <br>
  <% end %>
  <div class="reply-text"><%= reply.text %></div>
  <div class="replies-field"></div>
</div>
