<div class="reply">
  <p class="reply-header">
    <span class="thread-time">
      Anonymous <%= reply.created_at.strftime("%m/%d/%Y(%a)%H:%M:%S") %> №<%= reply.id %>
    </span>
  </p>
  <% if reply.picture.exists? %>
  <div class="post-pics">
    <div class="post-pic">
      <p>
        <%= link_to reply.picture.url do %>
          <%= truncate File.basename(reply.picture.url, ".*"), length: 20,
          omission: "[...]" %><%= File.extname(reply.picture.original_filename) %>
        <% end %>
      </p>
      <p class="file-size"><%= number_to_human_size(reply.picture.size) %></p>
      <%= image_tag reply.picture.url, class: "post-pic-thumb" %>
    </div>
  </div>
    <br>
  <% end %>
  <p class="reply-text"><%= simple_format reply.text %></p>
</div>
