<% if params[:controller] == "posts" && params[:action] == "show" %>
  <a id="<%= thread.id %>"></a>
<% end %>
<div class="thread-preview r<%= thread.id %>">
  <div class="post-pics">
    <div class="post-pic">
      <p>
        <%= link_to thread.picture_url do %>
          <%= truncate File.basename(thread.picture.url, ".*"), length: 20,
          omission: "[...]" %><%= File.extname(thread.picture.filename) %>
        <% end %>
      </p>
      <p class="file-size"><%= number_to_human_size(FastImage.new(thread.picture.url).content_length) %></p>
      <%= image_tag thread.picture.url, class: "post-pic-thumb" %>
    </div>
  </div>
  <p class="thread-title-p">
    <h4 class="thread-title"><%= thread.title %></h4>
    <span class="thread-time">Anonymous <%= thread.created_at.strftime("%m/%d/%Y(%a)%H:%M:%S") %> №<span id="thread-id"><%= thread.id %></span> [<%= link_to "Reply", post_path(@board, thread) %>]
    <% if current_user %>
      <%= thread.ip %>
      <%= link_to "delete", board_post_path(thread.board, thread), method: :delete %>
    <% end %>
    </span>
  </p>
  <br>
  <div class="thread-text"><%= thread.text %></div>
  <div class="replies-field"></div>
  <% if params[:controller] == "posts" %>
    <% thread.replies.where.not("id = thread_id").each do |reply| %>
      <a id="<%= reply.id %>"></a>
      <%= render "reply", reply: reply %>
      <br>
    <% end %>
  <% else %>
    <% thread.replies.where.not("id = thread_id").last(3).each do |reply| %>
      <%= render "reply", reply: reply %>
      <br>
    <% end %>
  <% end %>
</div>
