<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if !(yield(:flash) == 'no') %>
    <% flash.each do |type, msg| %>
      <center><div class="pure-alert pure-alert-<%= type %>"><%= msg %></div></center>
    <% end %>
  <% end %>
  <%= yield %>
  <%= yield :javascript %>
  <script>
    console.log(he.decode(`<%= params %>`));
    //--------------------------------------
    /*function insertAfter(referenceNode, newNode) {
      referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }*/

    var divs = document.querySelectorAll('.reply-text, .thread-text')
    divs.forEach((div) => {
      var postId = div.parentElement.classList[1].slice(1);
      var text = div.innerText.split('\n');
      var html = "";
      var threadId = document.getElementById("thread-id").innerText;
      console.log(threadId);

      text.forEach((line) => {
        if (line === "") {
          line = "\n";
        }
        var lineArr = line.split(" ");
        lineArr.forEach((word, index, arr) => {
          var isLink = true;
          if (word[0] == '>' && word[1] == '>') {
            for (var i = 2; i < word.length; i++) {
              if (isNaN(word[i])) {
                isLink = false;
              }
            }
            if (isLink) {
              if (word.slice(2) == threadId) {
                arr[index] = "<a href='#" + word.slice(2) + "'>" + word + " (OP)</a>";
              } else {
                arr[index] = "<a href='#" + word.slice(2) + "'>" + word + "</a>";
              }
              var repliedPost = document.querySelector(".r" + word.slice(2));
              var repliesDiv = null;
              for (var i = 0; i < repliedPost.childNodes.length; i++) {
                if (repliedPost.childNodes[i].className == "replies-field") {
                  repliesDiv = repliedPost.childNodes[i];
                  break;
                }
              }
              var link = document.createElement('a');
              link.innerHTML = "<a href='#" + postId + "'>>>" + postId + "</a> ";
              if (repliesDiv.innerText == "") {
                repliesDiv.innerText = "Replies: ";
              }
              repliesDiv.appendChild(link);
            }
          }
        });
        line = lineArr.join(' ');
        if (line[0] === '>' && line[1] !== '>') {
          html += '<p class="quote">' + line + '</p>';
        } else {
          html += '<p>' + line + '</p>';
        }
      });

      while (html.indexOf('[b]') >= 0) {
        var start = html.indexOf('[b]');
        var finish = html.indexOf('[/b]', start);
        if (finish >= 0) {
          var word = '<b>' + html.slice(start+3, finish) + '</b>';
          html = [html.slice(0, start), word, html.slice(finish + 4)].join('');
        } else {
          break;
        }
      }

      while (html.indexOf('[i]') >= 0) {
        var start = html.indexOf('[i]');
        var finish = html.indexOf('[/i]', start);
        if (finish >= 0) {
          var word = '<i>' + html.slice(start+3, finish) + '</i>';
          html = [html.slice(0, start), word, html.slice(finish + 4)].join('');
        } else {
          break;
        }
      }

      while (html.indexOf('[s]') >= 0) {
        var start = html.indexOf('[s]');
        var finish = html.indexOf('[/s]', start);
        if (finish >= 0) {
          var word = '<s>' + html.slice(start+3, finish) + '</s>';
          html = [html.slice(0, start), word, html.slice(finish + 4)].join('');
        } else {
          break;
        }
      }

      while (html.indexOf('[u]') >= 0) {
        var start = html.indexOf('[u]');
        var finish = html.indexOf('[/u]', start);
        if (finish >= 0) {
          var word = '<u>' + html.slice(start+3, finish) + '</u>';
          html = [html.slice(0, start), word, html.slice(finish + 4)].join('');
        } else {
          break;
        }
      }

      while (html.indexOf('[spoiler]') >= 0) {
        var start = html.indexOf('[spoiler]');
        var finish = html.indexOf('[/spoiler]', start);
        if (finish >= 0) {
          var word = '<span class="spoiler">' + html.slice(start+9, finish) + '</span>';
          html = [html.slice(0, start), word, html.slice(finish + 10)].join('');
        } else {
          break;
        }
      }

      div.innerHTML = html;
    });
  </script>
  </body>
</html>
